*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-main);
    width: 100%;
}

.icon {
    display: inline-block;
    width: 3.5em;
    height: 3.5em;
    background-color: rgba(116, 194, 201, 0.4);
    border-radius: 50%;
}

.item {
    display: flex;
}

.item .item__data {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item .item__category {
    font-family: var(--ff-secondary);
    text-transform: uppercase;

    color: #74c2c9;
}

.item .item__titlebar {
    font-size: 0.875em;
    display: flex;
    align-items: center;
}

.item .item__titlebar > *:not(:first-child) {
    margin-left: 1.15em;
}

.item .item__description {
    display: inline-block;
    font-weight: normal;
    font-size: 1.125em;

    flex-grow: 0.5;
}

.item .item__details {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875em;

    color: #797979;
}

.item .item__details > *:not(:first-child) {
    /* https://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
    margin-left: calc(0.625em - 4px);
}

.item .item__due {
    display: inline-block;
}

.item .item__location {
    display: inline-block;
}
